.basket__container {
    max-width: 1123px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.basket__message {
    background: rgb(234, 193, 45);
    max-width: 1173px;
    margin: 0 auto;
}

.basket__message-empty, .basket__message-filled {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px  0;
}

.basket__message-icon {
    fill: white;
    height: 40px;
    margin-right: 15px;
}

.basket__message-paragraph {
    font-size: 15px;
    font-family: "Metropolis";
    color: rgb( 255, 255, 255 );
    line-height: 1.2;
}

.basket__title {
    font-size: 18px;
    font-family: "Metropolis";
    color: rgb( 97, 97, 97 );
    line-height: 1;
    margin: 15px 0 10px;
}

.basket__input {
    width: 65px;
    height: 40px;
}

.basket__paragraph {
    font-size: 18px;
    font-family: "Metropolis";
    color: rgb( 97, 97, 97 );
    line-height: 1;
    color: rgb( 64, 64, 64 );
}

.basket__paragraph--center {
    text-align: center;
}

.basket__paragraph--left {
    margin-left: 40px;
    margin-right: 25px;
}

.basket__paragraph--right {
    margin-right: 25px;
}

.basket__icon {
    height: 40px;
    fill: #9e9d9d;
}

.basket__icon:hover {
    cursor: pointer;
}

.basket__item {
    width: 100%;
    display: flex;
    padding: 5px 0;
}

.basket__item:nth-child(odd) {
    background: #f6f6f6;
}

.basket__item:nth-child(3) {
    margin-top: 20px;
}

.basket__divider {
    height: 1px;
    width: 100%;
    margin: 20px 0 30px;
    background: #dcdbdd;
}

.img.lazy-image {
    opacity: 0.1;
    will-change: opacity;
    transition: all 0.3s;
}

img.lazy-image.loaded {
    opacity: 1;
}

.basket__item--header {
    padding: 10px 0;
    border-top: 1px solid #dcdbdd;
    border-bottom: 1px solid #dcdbdd;
}

.basket__list-left, .basket__list-right {
    width: 50%;
    display: flex;
}

.basket__list-right-mobile {
    display: none;
}

.basket__image {
    margin-left: 10px;
}

.basket__list-detail {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7px;
}

.product__paragraph {
    font-size: 15px;
    font-family: "Metropolis";
    color: rgb( 97, 97, 97 );
}

.product__paragraph--small  {
    font-size: 10px;
    color: rgb( 234, 193, 45 );
}

.product__paragraph--medium {
    font-size: 25px;
}

.product__paragraph--big {
    font-size: 45px;
}


.product__paragraph--gray  {
    color: #acacac;
}

.product__paragraph--margin {
    margin: 4px 0;
}

.product__paragraph--margin-medium {
    margin: 20px 0 40px;
}
  
.basket__summary, .basket__code {
    display: flex;
}

.basket__summary {
    padding: 25px 0 12px;
    width: 100%;
    border-bottom: 1px solid #dcdbdd;
}

.basket__summary--item {
    width: 50%;
}

.basket__summary--item:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.basket__code {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.code__input {
    width: 205px;
    height: 30px;
    border: 1px solid rgb(86, 86, 86);
    border-radius: 5px;
}

.code__input::placeholder, .recoverp__option {
    font-size: 15px;
    font-family: "Metropolis";
    color: rgb(136, 136, 136);
    text-transform: uppercase;
    padding-left: 10px;
}

.basket__button {
    font-size: 20px;
    font-family: "Metropolis";
    font-weight: bold;
    text-transform: uppercase;
    width: 280px;
    height: 52px;
    border: 2px solid rgb(234, 193, 45);
    border-radius: 999px;
    color: white;
    text-transform: uppercase;
    background: rgb(234, 193, 45);
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket__button--medium {
    width: 260px;
    color: rgb(234, 193, 45);
    background: white;
}

.basket__button:hover {
    color: rgb(234, 193, 45);
    background: white;
    cursor: pointer;
}

.basket__button--medium:hover {
    background: rgb(234, 193, 45);
    color: white;
}

.basket__button--code {
    background: #42474a;
    border-color:#42474a;
    font-size: 15px;
    color: rgb( 255, 255, 255 );
    width: 155px;
    height: 32px;
    margin-top: 7px;
    margin-left: 7px;
}

.basket__button--code:hover {
    background: rgb(234, 193, 45);
    color: white;
    border-color:rgb(234, 193, 45);
}

.basket__buttons {
    margin: 15px 0 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 820px) { 
    .basket__summary--item, .basket__summary--item:nth-child(2) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .basket__summary--item:nth-child(2) {
        margin-top: 40px;
    }

    .basket__summary {
        flex-direction: column;
    }
}

@media screen and (max-width: 620px) { 
    .basket__list-right {
        display: none;
    }

    .basket__container {
        padding: 0 10px;
    }

    .basket__list-right-mobile {
        display: flex;
    }

    .basket__list-right-mobile {
        padding: 10px 0;
    }
}

@media screen and (max-width: 570px) { 
    .basket__buttons {
        flex-direction: column;
    }
}

@media screen and (max-width: 430px) { 
    .basket__paragraph--left {
        margin-left: 10px;
        margin-right: 0;
    }

    .product__paragraph--big {
        display: block;
        margin-left: 0;
    }

    .basket__code {
        flex-direction: column;
    }
}


