.delivery__container {
  max-width: calc(1173px - 50px);
  margin: 0 auto;
}

.delivery__title {
  font-size: 30px;
  font-family: 'Metropolis';
  color: rgb(0, 0, 0);
  margin-top: 35px;
}

.delivery__divider {
  height: 1px;
  width: 100%;
  margin: 10px 0 30px;
  background: #dcdbdd;
}

.delivery__description {
  font-size: 16px;
  font-family: 'Metropolis';
  color: rgb(86, 86, 86);
  line-height: 1.5;
  margin-bottom: 30px;
}

.delivery__button {
  font-size: 18px;
  font-family: 'Metropolis';
  color: rgb(234, 193, 45);
  font-weight: bold;
  text-transform: uppercase;
  height: 45px;
  width: 310px;
  background: white;
  border: 3px solid rgb(234, 193, 45);
  border-radius: 999px;
  margin: 30px auto 830px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delivery__button:hover {
  background: rgb(234, 193, 45);
  color: white;
  cursor: pointer;
}

.parent > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parent > div:nth-child(7),
.parent > div:nth-child(9) {
  padding: 0 8px;
}

.parent > div:nth-child(11) {
  padding: 0 20px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 145px) 1fr;
  grid-template-rows: 35px 100px repeat(2, 160px) 110px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 1 / 3 / 2 / 4;
}

.div4 {
  grid-area: 2 / 1 / 3 / 2;
}

.div5 {
  grid-area: 2 / 2 / 3 / 3;
}

.div6 {
  grid-area: 2 / 3 / 3 / 4;
}

.div7 {
  grid-area: 3 / 1 / 4 / 2;
}

.div8 {
  grid-area: 3 / 2 / 4 / 3;
}

.div9 {
  grid-area: 4 / 1 / 5 / 2;
}

.div10 {
  grid-area: 4 / 2 / 5 / 3;
}

.div11 {
  grid-area: 3 / 3 / 5 / 4;
}

.div12 {
  grid-area: 5 / 1 / 6 / 2;
}

.div13 {
  grid-area: 5 / 2 / 6 / 3;
}

.div14 {
  grid-area: 5 / 3 / 6 / 4;
}

.border {
  border: 1px solid #dcdbdd;
}

.border--bottom {
  border-bottom: 1px solid #dcdbdd;
}

.border--top {
  border-top: 1px solid #dcdbdd;
}

.border--without-top {
  border: 1px solid #dcdbdd;
  border-top: 0px;
}

.table__paragraph {
  font-size: 14px;
  font-family: 'Metropolis';
  color: rgb(64, 64, 64);
  line-height: 1.714;
}

.table__paragraph--narrow {
  line-height: 1.286;
}

.table__paragraph--header {
  font-size: 15px;
  color: black;
  font-weight: 500;
}

.table__icon {
  width: 80px;
}

.table__icon--small {
  width: 50px;
  margin-top: 5px;
}

@media screen and (max-width: 1173px) {
  .delivery__container {
    padding: 0 10px;
  }

  .parent > div:nth-child(6) {
    padding: 0 20px;
  }
}

@media screen and (max-width: 840px) {
  .parent > div:nth-child(14) {
    padding: 0 20px;
  }
}

@media screen and (max-width: 700px) {
  .parent > div:nth-child(11) {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 570px) {
  .parent > div:nth-child(6) {
    overflow-y: scroll;
  }
}

@media screen and (max-width: 500px) {
  .parent > div:nth-child(14) {
    overflow-y: scroll;
  }
}
