.container {
  border-top: 3px solid rgb(234, 193, 45);
}

.column {
  display: flex;
  flex-direction: column;
}

.header {
  max-width: 1173px;
  margin: 35px auto 15px;
}

.header-search__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-search__input-container {
  width: 50%;
  display: flex;
  position: relative;
}

.header-search__input-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 48px;
  z-index: 10;
}

.header-search__input-options--show {
  opacity: 1;
}

.header-search__input-options--hide {
  opacity: 0;
  z-index: 2;
}

.header-search__input-option {
  display: flex;
  align-items: center;
}

.header-search__input-option:hover {
  cursor: pointer;
}

.header-search__input-option:nth-child(even) {
  background: #f9f9f9;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.header-search__input-option:nth-child(odd) {
  background: white;
}

.header-search__input-image {
  height: 58px;
  width: 58px;
  padding: 15px;
}

.header-search__input-paragraph {
  font-size: 15px;
  font-family: "Metropolis";
  color: rgb(64, 64, 64);
  line-height: 1.2;
  text-transform: uppercase;
  padding-bottom: 3px;
}

.header-search__input-paragraph--price {
  text-transform: none;
  font-size: 30px;
  font-family: "Metropolis";
  color: rgb(234, 193, 45);
  line-height: 0.6;
  padding-top: 6px;
}

.header-search__input-paragraph--all {
  background: white;
  font-size: 15px;
  font-family: "Metropolis";
  color: rgb(64, 64, 64);
  line-height: 1.2;
  text-transform: none;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  text-align: center;
  padding: 15px 0;
}

.header-search__input-paragraph--all:hover {
  cursor: pointer;
  color: rgb(234, 193, 45);
}

.header-search__input {
  width: 100%;
  font-size: 20px;
  font-family: 'Metropolis';
  color: rgba(0, 0, 0, 0.302);
  font-style: italic;
  line-height: 0.9;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(76, 75, 75);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(255, 255, 255);
  height: 46px;
  padding-left: 10px;
}

.header-search__icon {
  height: 48px;
  background: #404040;
  fill: white;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header-search__icon--account {
  height: 22px;
}

.header-search__icon--active {
  background: #eac12d;
}

.header-search__account-container {
  display: flex;
  position: relative;
}

.account__icon-wrapper {
  position: relative;
  width: 60px;
  height: 34.64px;
  background-color: #eac12d;
  margin: 17.32px 0;
}

.account__icon-wrapper:before,
.account__icon-wrapper:after {
  content: '';
  position: absolute;
  width: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.account__icon-wrapper:before {
  bottom: 100%;
  border-bottom: 17.32px solid #eac12d;
}

.account__icon-wrapper:after {
  top: 100%;
  width: 0;
  border-top: 17.32px solid #eac12d;
}

.account__icon {
  height: 45px;
  position: absolute;
  left: 5px;
  top: 11px;
  fill: white;
}

.account__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
}

.account__paragraph {
  font-size: 17px;
  font-family: 'Metropolis';
  color: rgb(0, 0, 0);
  line-height: 1.059;
  text-transform: uppercase;
}

.account__paragraph:hover {
  cursor: pointer;
  color: #eac12d;
}

.account__paragraph--small {
  text-transform: none;
  line-height: 1.2;
  font-size: 15px;
}

.header-products__container {
  display: flex;
  margin: 25px 0 20px;
}

.header-products__item {
  display: flex;
  background: #404040;
  align-items: center;
  padding: 12px 0;
  z-index: 3;
}

.header-products__item:last-child {
  margin-left: 10px;
}

.header-products__item:not(:last-child) {
  border-right: 1px solid #757575;
}

.header-products__item:hover:not(:last-child) {
  background: #eac12d;
  border-right: 1px solid #eac12d;
  cursor: pointer;
}

.header-products__item:hover .header-products__order {
  color: #eac12d;
}

.header-products__item--basket {
  width: 260px;
}

.header-products__item--basket:hover {
  cursor: pointer;
}

.header-products__icon {
  width: 40px;
  fill: white;
  margin-left: 5px;
}

.header-products__title {
  font-size: 18px;
  font-family: 'Metropolis';
  color: rgb(250, 250, 250);
  line-height: 0.9;
  margin-left: 5px;
}

.header-products__price {
  font-size: 20px;
  font-family: "Metropolis";
  color: rgb(234, 193, 45);
  line-height: 0.9;
}

.header-products__order {
  font-size: 12px;
  font-family: "Metropolis";
  color: rgb(250, 250, 250);
  line-height: 1.5;
}

.header-products__amount {
  background: rgb(234, 193, 45);
  width: 20px;
  border-radius: 50%;
  text-align: center;
  position: relative;
  top: -15px;
  right: 5px;
}

@media screen and (max-width: 1173px) {
  .header-search__input-container {
    width: 40%;
  }

  .header-search__account-container {
    margin-right: 10px;
  }
}

@media screen and (max-width: 850px) {
  .header-search__input-container {
    width: 80%;
    order: 3;
    margin: 20px auto 0;
  }

  .header-search__account-container {
    margin-right: 10px;
  }

  .header-search__container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .header-search__container {
    flex-direction: column;
    justify-content: center;
  }
}