.container {
  border-top: 3px solid rgb(234, 193, 45);
}

.column {
  display: flex;
  flex-direction: column;
}

.header {
  max-width: 1173px;
  margin: 35px auto 15px;
}

.header--small {
  max-width: 1153px;
}

.header-search__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-search__input-container {
  width: 50%;
  display: flex;
  position: relative;
}

.header-search__input-options {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 48px;
  z-index: 10;
}

.header-search__input-options--show {
  opacity: 1;
}

.header-search__input-options--hide {
  opacity: 0;
  z-index: 2;
}

.header-search__input-option {
  display: flex;
  align-items: center;
}

.header-search__input-option:hover {
  cursor: pointer;
}

.header-search__input-option:nth-child(even) {
  background: #f9f9f9;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

.header-search__input-option:nth-child(odd) {
  background: white;
}

.header-search__input-image {
  height: 58px;
  width: 58px;
  padding: 15px;
}

.header-search__input-paragraph {
  font-size: 15px;
  font-family: 'Metropolis';
  color: rgb(64, 64, 64);
  line-height: 1.2;
  text-transform: uppercase;
  padding-bottom: 3px;
}

.header-search__input-paragraph--price {
  text-transform: none;
  font-size: 30px;
  font-family: 'Metropolis';
  color: rgb(234, 193, 45);
  line-height: 0.6;
  padding-top: 6px;
}

.header-search__input-paragraph--all {
  background: white;
  font-size: 15px;
  font-family: 'Metropolis';
  color: rgb(64, 64, 64);
  line-height: 1.2;
  text-transform: none;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  text-align: center;
  padding: 15px 0;
}

.header-search__input-paragraph--all:hover {
  cursor: pointer;
  color: rgb(234, 193, 45);
}

.header-search__input {
  width: 100%;
  font-size: 20px;
  font-family: 'Metropolis';
  font-style: italic;
  line-height: 0.9;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(76, 75, 75);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: rgb(255, 255, 255);
  height: 46px;
  padding-left: 10px;
  color: rgb(64, 64, 64);
}

.header-search__input::placeholder {
  color: rgb(64, 64, 64);
}

.header-search__icon {
  height: 48px;
  background: #404040;
  fill: white;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.header-search__icon--account {
  height: 22px;
}

.header-search__icon--active {
  background: #eac12d;
}

.header-search__account-container {
  display: flex;
  position: relative;
}

.account__icon-wrapper--mobile,
.header-basket__amount--mobile {
  display: none;
}

.account__icon-wrapper {
  position: relative;
  width: 60px;
  height: 34.64px;
  background-color: #eac12d;
  margin: 17.32px 0;
}

.account__icon-wrapper:before,
.account__icon-wrapper:after {
  content: '';
  position: absolute;
  width: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.account__icon-wrapper:before {
  bottom: 100%;
  border-bottom: 17.32px solid #eac12d;
}

.account__icon-wrapper:after {
  top: 100%;
  width: 0;
  border-top: 17.32px solid #eac12d;
}

.account__icon {
  height: 45px;
  position: absolute;
  left: 8px;
  top: 11px;
  fill: white;
}

.account__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
}

.account__paragraph {
  font-size: 17px;
  font-family: 'Metropolis';
  color: rgb(0, 0, 0);
  line-height: 1.059;
  text-transform: uppercase;
  font-weight: bold;
}

.account__paragraph:hover {
  cursor: pointer;
  color: #eac12d;
}

.account__paragraph--small {
  text-transform: none;
  line-height: 1.2;
  font-size: 15px;
}

.header-products__container,
.header-bar__container {
  display: flex;
}

.header-bar__container {
  margin-top: 30px;
}

.header-products__item {
  display: flex;
  background: #404040;
  align-items: center;
  padding: 12px 0;
  z-index: 3;
  position: relative;
  border-right: 1px solid #757575;
}

.header-products__item:hover {
  background: #eac12d;
  border-right: 1px solid #eac12d;
  cursor: pointer;
}

.header-products__category {
  display: none;
}

.header-basket__container {
  width: 260px;
  display: flex;
  background: #404040;
  align-items: center;
  padding: 12px 0;
  z-index: 3;
  margin-left: 10px;
}

.header-basket__container:hover .header-basket__order {
  color: #eac12d;
}

.header-basket__container:hover {
  cursor: pointer;
}

.header-basket__icon,
.header-products__icon {
  width: 40px;
  fill: white;
  margin-left: 5px;
}

.header-basket__icon {
  width: 30px;
  margin-left: 10px;
}

.header-basket__icon--mobile {
  display: none;
}

.header-products__title {
  font-size: 18px;
  font-family: 'Metropolis';
  color: rgb(250, 250, 250);
  line-height: 0.9;
  margin-left: 5px;
}

.header-products__list {
  display: none;
  position: absolute;
  top: 62px;
  background: white;
  padding: 20px 0;
}

.header-products__list--mobile,
.header-products__plus {
  display: none;
}

.products-list__title {
  font-size: 18.423px;
  font-family: 'Metropolis';
  color: rgb(64, 64, 64);
  margin: 12px 0 3px;
  font-weight: bold;
}

.products-list__line {
  background: linear-gradient(to right, #757575 35px, #dbdbdb 50px);
  width: 170px;
  height: 1px;
  margin-bottom: 27px;
}

.products-list__name {
  font-size: 15px;
  font-family: 'Metropolis';
  color: rgb(64, 64, 64);
  margin-top: 15px;
}

.products-list__name:hover {
  color: #eac12d;
}

.products-list--mobile__name {
  font-size: 15px;
  font-family: 'Metropolis';
  color: white;
  margin-top: 15px;
}

.products-list--mobile__name:hover {
  color: rgb(64, 64, 64);
}

.header-products__list--left {
  left: 0;
  right: auto;
}

.header-products__list--right {
  right: 0;
  left: auto;
}

.products-list {
  height: 360px;
  padding-left: 15px;
  min-width: 190px;
}

.products-list:nth-child(2) {
  border-left: 1px solid #dcdbdd;
  margin-top: 47px;
  height: 225px;
}

.products-list--mobile .products-list:first-child {
  border-right: 2px solid #a5a5a5;
}

.products-list__image {
  display: none;
}

.product-image {
  height: calc(100% + 40px);
  top: -20px;
  position: relative;
}

.products-list__image--show {
  display: flex;
}

.products-list__image--first {
  order: -1;
}

.products-list__image--second {
  order: 1;
}

.header-products__item:hover .header-products__list {
  display: flex;
}

.header-products__item:hover~.header-products__item {
  z-index: unset;
}

.header-basket__price {
  font-size: 20px;
  font-family: 'Metropolis';
  color: rgb(234, 193, 45);
  line-height: 0.9;
}

.header-basket__order {
  font-size: 12px;
  font-family: 'Metropolis';
  color: rgb(250, 250, 250);
  line-height: 1.5;
}

.header-basket__amount {
  background: rgb(234, 193, 45);
  border-radius: 50%;
  text-align: center;
  position: relative;
  top: -15px;
  right: 5px;
  font-family: 'Metropolis';
  padding: 2px 5px
}

.logo {
  position: relative;
  left: -8px;
}

@media screen and (max-width: 1173px) {
  .header-search__input-container {
    width: 40%;
  }

  .logo {
    margin-left: 10px;
  }

  .header-search__account-container {
    margin-right: 20px;
  }

  .header-bar__container {
    flex-direction: column;
    align-items: flex-end;
  }

  .header-basket__container {
    order: -1;
    margin-left: 0;
    margin-bottom: 20px;
    width: 180px;
  }

  .header-products__container {
    flex-wrap: wrap;
    background: #404040;
    justify-content: space-evenly;
  }

  .header-products__item {
    border: none;
  }

  .header-products__item:hover {
    border: none;
  }

  .header-products__list {
    top: 61px;
  }
}

@media screen and (max-width: 880px) {
  .header-products__container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
  }

  .header-products__category {
    display: flex;
    background: #404040;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #757575;
  }

  .header-products__category:hover {
    cursor: pointer;
  }

  .header-products__title--category {
    padding: 20px 0;
    font-weight: bold;
    text-transform: uppercase;
  }

  .header-products__title--plus {
    font-size: 50px;
  }

  .header-products__plus {
    font-size: 50px;
    position: absolute;
    right: 10px;
    top: 11px;
    font-family: 'Metropolis';
    color: rgb(250, 250, 250);
    line-height: 0.9;
    font-weight: bold;
    display: flex;
  }

  .header-products__title--category:first-child {
    margin-left: 10px;
  }

  .header-products__title--category:last-child {
    margin-right: 10px;
  }

  .header-products__item:hover .header-products__list {
    display: none;
  }

  .header-products__item {
    flex-wrap: wrap;
    border-bottom: 1px solid #757575;
  }

  .header-products__list--mobile {
    flex-basis: 100%;
    padding: 15px 0 25px;
  }

  .products-list--mobile {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 30px;
  }
}

@media screen and (max-width: 850px) {
  .header-search__input-container {
    width: 100%;
    order: 3;
    margin: 20px auto 0;
  }

  .header-search__account-container {
    margin-right: 10px;
  }

  .header-search__container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .header-search__container {
    flex-direction: column;
    justify-content: center;
  }

  .header-products__list--mobile {
    flex-direction: column;
  }

  .products-list--mobile {
    width: 100%;
    align-items: center;
    margin: 0;
  }

  .header-basket__container {
    display: none;
  }

  .account__text {
    display: none;
  }

  .account__icon-wrapper--mobile,
  .header-basket__icon {
    display: block;
  }

  .account__icon-wrapper:nth-child(1) {
    margin-right: 20px;
  }

  .account__icon-wrapper:nth-child(2) {
    margin-left: 20px;
  }

  .header-search__input-container {
    width: 100%;
  }

  .header-basket__icon--mobile {
    position: absolute;
    left: 84px;
    top: 20px;
  }

  .header-basket__amount {
    top: 0;
    right: 24px;
    background: black;
    color: white;
    height: 20px;
    padding: 2px 5px 0 5px;
    display: inline;
  }
}