.slider__container {
    max-width: 1173px;
    margin: 0 auto;
}

.slider__img {
    width: 100%;
    height: auto;
}

.slider__hr {
    background-image: linear-gradient(to right,
            rgba(100, 100, 100, 0),
            rgba(100, 100, 100, 1),
            rgba(100, 100, 100, 0));
    width: 100%;
    height: 1px;
    margin-bottom: 75px;
}

.slider__products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    flex-wrap: wrap;
}

.slider__paragraph {
    font-size: 15px;
    font-family: "Metropolis";
    color: rgb(0, 0, 0);
    line-height: 1.2;
}

.slider__paragraph--active {
    color: rgb(234, 193, 45);
}

.slider__paragraph:hover {
    color: rgb(234, 193, 45);
    cursor: pointer;
}

.slider-products__title {
    display: flex;
    justify-content: space-between;
}

.slider-arrows__container {
    display: flex;
    width: 60px;
    justify-content: space-between;
    margin-right: 30px;
    align-items: center;
}

.slider-products__arrow--left {
    transform: rotate(180deg);
}

.slider-products__arrow--right path {
    transform: translate(8px);
}

.slider-products__arrow--lef path {
    transform: translate(-8px);
}

.slider-products__arrow {
    width: 25px;
    height: 25px;
    background: white;
    border: 1px solid #dcdbdd;
    border-radius: 50%;
}

.slider-products__arrow:hover {
    cursor: pointer;
}

.slider-products__paragraph {
    font-size: 35px;
    font-family: "Metropolis";
    color: rgb(0, 0, 0);
}

.slider-products__container {
    width: calc(100% + 40px);
    display: flex;
    position: relative;
    left: -20px;
}

.slider-products__container--news {
    margin-bottom: 65px;
}

.slider-products__container--bestsellers {
    margin-bottom: 190px;
}

.slider-product__card {
    border: 1px solid #dcdbdd;
    text-align: center;
    flex: 1;
    box-shadow: 0 0 3px #dcdbdd;
    position: relative;
}

.slider-product__card:hover {
    cursor: pointer;
}

.slick-slide {
    margin: 25px;
}

.slider-product__discount {
    background: #378d20;
    font-size: 16px;
    line-height: 0.573;
    color: rgb(255, 255, 255);
    position: absolute;
    padding: 7px 13px;
    margin-left: -30px;
    left: 50%;
    z-index: 2;
}

.slider-product__image {
    position: relative;
    padding: 10px;
}

.slider-product__image img {
    width: 100%;
    height: 100%;
}

.slider-product__details {
    display: flex;
    flex-direction: column;
    height: 60px;
    border-bottom: 1px solid #ebebeb;
    justify-content: center;
}

.slider-product__details-hover {
    display: none;
    justify-content: space-between;
    margin: 0 10px;
}

.slider-product__details--row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slider-product__image-hover .slider-product__description,
.slider-product__image-hover .slider-product__title {
    color: white;
}

.slider-product__image-hover .slider-product__title {
    margin-top: 12px;
}

.slider-product__image-hover .product__price {
    margin-bottom: 10px;
}

.slider-product__title {
    font-size: 21px;
    font-family: "Metropolis";
    color: rgb(0, 0, 0);
    text-align: center;
}

.slider-product__description {
    font-size: 15px;
    font-family: "Metropolis";
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 5px;
}

.slider-product__details--show {
    display: flex;
}

.product-details__icons {
    height: 100%;
}

.product-details__icons {
    display: flex;
    align-items: center;
}

.product-details__icon {
    width: 27px;
}

.product-details__divider {
    height: 30px;
    width: 1px;
    background: #dcdbdd;
    margin: 0 12px;
}

.product-details__select {
    font-size: 15px;
    font-family: "Metropolis";
    color: rgb(64, 64, 64);
    width: 130px;
    padding: 7px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: calc(100% - 20px) center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%3Ctitle%3Edown-arrow%3C%2Ftitle%3E%3Cg%20fill%3D%22%23000000%22%3E%3Cpath%20d%3D%22M10.293%2C3.293%2C6%2C7.586%2C1.707%2C3.293A1%2C1%2C0%2C0%2C0%2C.293%2C4.707l5%2C5a1%2C1%2C0%2C0%2C0%2C1.414%2C0l5-5a1%2C1%2C0%2C1%2C0-1.414-1.414Z%22%20fill%3D%22%23000000%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}


.slider-product__price {
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.slider-product__price--hovered {
    background: rgb(234, 193, 45);
}

.product__price {
    font-size: 35px;
    font-family: "Metropolis";
    color: rgb(234, 193, 45);
}

.product__price--old {
    font-size: 15px;
    font-family: "Metropolis";
    color: rgb(145, 145, 145);
    text-decoration: line-through;
}

.product__basket {
    display: flex;
    font-size: 18px;
    font-family: "Metropolis";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}

.slider-product-price--hover {
    display: none;
}

.product__basket--show {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product__basket-icon {
    width: 40px;
    fill: white;
    display: flex;
}

.slider-product__image-hover {
    height: 100px;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 20px);
    display: none;
    background: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 750px) {
    .slider__paragraph {
        flex-basis: 50%;
        text-align: center;
    }
}