.order__container {
  max-width: 1129px;
  margin: 50px auto 1300px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.order__steps {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
}

.order__step {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  flex-direction: column;
  z-index: 2;
}

.order__divider--steps {
  height: 2px;
  margin: 0;
  width: 510px;
  position: absolute;
  top: 17px;
}

.step__icon {
  width: 38px;
  fill: #1e1e1c;
}

.step__icon--active {
  fill: rgb(234, 193, 45);
}

.step__paragraph {
  font-size: 16px;
  font-family: 'Metropolis';
  color: rgb(148, 148, 148);
  margin-top: 8px;
}

.order__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.order__button {
  font-size: 13px;
  font-family: 'Metropolis';
  color: rgb(255, 255, 255);
  line-height: 1.2;
  font-weight: normal;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  border: 2px solid rgb(234, 193, 45);
  border-radius: 999px;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(234, 193, 45);
  margin-top: 15px;
}

.order__button--big {
  width: 270px;
  margin: 0 auto 30px;
  font-size: 23px;
  font-weight: bold;
  width: 340px;
  height: 50px;
}

.order__button--small {
  width: 170px;
}

.order__button--reverse {
  color: rgb(234, 193, 45);
  background: white;
}

.order__button:hover {
  color: rgb(234, 193, 45);
  background: white;
  cursor: pointer;
}

.order__button--reverse:hover {
  background: rgb(234, 193, 45);
  color: white;
}

.order__products {
  width: 630px;
  padding-bottom: 15px;
  padding: 0 15px 15px 0;
}

.products__header,
.products__row {
  width: 100%;
  display: flex;
  padding: 10px;
}

.products__row:nth-child(even) {
  background: #f6f6f6;
}

.products__row:nth-child(2) {
  margin-top: 15px;
}

.products__header {
  border-top: 1px solid #dcdbdd;
  border-bottom: 1px solid #dcdbdd;
}

.product__item {
  width: 20%;
  display: flex;
  justify-content: center;
  justify-content: flex-start;
}

.product__item--center {
  justify-content: center;
}

.product__item--end {
  justify-content: flex-end;
}

.product__item--medium {
  width: 40%;
}

.products__paragraph {
  font-size: 18px;
  font-family: "Metropolis";
  color: rgb(64, 64, 64);
  line-height: 1.2;
}

.products__paragraph--bold {
  font-weight: bold;
}

.products__paragraph--medium {
  font-size: 15px;
}

.products__paragraph--center {
  text-align: center;
  width: 40px;
}

.products__paragraph--right {
  margin-right: 15px;
}

.details__row {
  margin-top: 25px;
}

.details__row .products__paragraph {
  display: flex;
}

.details__row .products__paragraph:nth-child(2) {
  padding: 15px 0;
  border-bottom: 1px solid #dcdbdd;
}

.details__row a {
  margin-left: 5px;
}

.order_a {
  font-size: 12px;
  font-family: "Metropolis";
  color: rgb(0, 0, 0);
  text-decoration: underline;
  text-decoration-color: #d4d4d4;
  -moz-text-decoration-color: #d4d4d4;
  margin-top: 25px;
}

.order_a:hover {
  color: rgb(234, 193, 45);
}

.order__wrapper {
  width: 100%;
  display: flex;
  margin-top: 30px;
}

.order__tails {
  display: flex;
  margin: 18px 0 40px;
  width: calc(100% + 20px);
  border-top: 1px solid #dcdbdd;
  padding-top: 25px;
}

.order__tail {
  width: 240px;
  border-radius: 25px;
  box-shadow: 0 0 5px #dcdbdd;
  background: white;
  padding: 25px;
  box-sizing: border-box;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.order__tail .products__paragraph:first-child {
  margin-bottom: 25px;
}

.order__tail:nth-child(2) {
  margin-left: 20px;
}

.register__checkbox--container {
  width: 100%;
  display: flex;
  margin-top: 15px;
}

.register__paragraph {
  font-size: 11px;
  font-family: "Metropolis";
  color: rgb(86, 86, 86);
  line-height: 1.636;
}

.register__paragraph--terms {
  line-height: 1.385;
  font-size: 13px;
  margin-left: 5px;
}

.register__paragraph--law {
  font-size: 11px;
  color: rgb(160, 159, 159);
  line-height: 1.636;
}

.register__paragraph--regulations {
  color: black;
  border-bottom: 1px solid #dcdbdd;
}

.register__paragraph--regulations:hover {
  cursor: pointer;
  color: rgb(234, 193, 45);
}

.order__summary {
  margin-top: 70px;
}

.summary__paragraph {
  font-size: 18px;
  font-family: "Metropolis";
  color: rgb(64, 64, 64);
  line-height: 1;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.summary__paragraph:nth-child(3) {
  margin: 20px 0 40px;
}

.summary__paragraph:nth-child(4) {
  margin-bottom: 20px;
}

.summary__paragraph--margin {
  margin: 20px 0 70px;
}

.summary__paragraph--medium {
  font-size: 25px;
}

.summary__paragraph .summary__paragraph--big {
  font-size: 45px;
  width: auto;
}

.summary__paragraph--right {
  margin-left: 20px;
  margin-right: 30px;
  width: 100px;
  justify-content: flex-end;
  display: flex;
}

.order__details {
  flex-grow: 1;
  margin-left: 30px;
  width: 450px;
  border-radius: 25px;
  box-shadow: 0 0 5px #dcdbdd;
  background: white;
  padding: 25px;
  box-sizing: border-box;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.order__details .products__paragraph--small {
  font-size: 11px;
  color: rgb(97, 97, 97);
  line-height: 1.636;
}

.order__details .products__paragraph--padding {
  border-top: 1px solid #dcdbdd;
  padding: 30px 0 25px;
}

@media screen and (max-width: 1110px) {
  .order__wrapper {
    flex-direction: column;
    align-items: center;
  }

}

@media screen and (max-width: 970px) {
  .order__container {
    padding: 0 20px;
    flex-direction: column;
  }

  .order__steps {
    width: 100%;
  }

  .order__step,
  .order__divider--steps {
    display: none;
  }

  .order__step {
    width: 100%;
  }

  .order__step--active {
    display: flex;
  }

  .step__icon--active {
    width: 70px;
  }

  .step__paragraph {
    font-size: 20px;
  }
}

@media screen and (max-width: 670px) {
  .order__products {
    width: 100%;
  }
}

@media screen and (max-width: 620px) {
  .order__button--medium {
    width: 230px;
  }
}

@media screen and (max-width: 500px) {
  .order__button--medium {
    width: 230px;
  }

  .order__buttons {
    flex-direction: column;
  }

  .order__details {
    width: 80%;
    margin-left: 0;
  }

  .order__button--big {
    width: 200px;
  }

  .summary__paragraph {
    flex-direction: column
  }

  .summary__paragraph--right {
    margin: 0;
    justify-content: center;
  }
}

@media screen and (max-width: 490px) {
  .products__paragraph {
    text-align: center;
  }

  .product__item--end {
    justify-content: center;
  }

  .details__row .products__paragraph {
    text-align: left;
  }

}

@media screen and (max-width: 440px) {
  .products__paragraph {
    text-align: center;
  }

  .product__item--end {
    justify-content: center;
  }

  .order__tails {
    flex-direction: column;
    align-items: center;
  }

  .order__tail:nth-child(2) {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media screen and (max-width: 345px) {
  .order__button--big {
    width: 200px;
    position: relative;
    left: -12.5px;
  }
}