.recoverp__container {
    width: 730px;
    margin: 50px auto 1300px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.recoverp__button {
    font-size: 15px;
    font-family: "Metropolis";
    font-weight: bold;
    text-transform: uppercase;
    width: 460px;
    height: 40px;
    border: 2px solid rgb(234, 193, 45);
    border-radius: 999px;
    color: white;
    text-transform: uppercase;
    background: rgb(234, 193, 45);
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recoverp__button--medium {
    width: 360px;
}

.recoverp__title {
    font-size: 30px;
    font-family: "Metropolis";
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
    margin-top: 20px;
    width: 100%;
    text-align: left;
    margin-right: 0;
}

.recoverp__paragraph {
    font-size: 12px;
    font-family: "Metropolis";
    color: rgb(86, 86, 86);
    line-height: 1.5;
    text-align: left;
    width: 100%;
}

.recoverp__paragraph--top {
    margin-top: 20px;
}

.recoverp__button:hover {
    color: rgb(234, 193, 45);
    background: white;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .recoverp__container {
        padding: 0 20px;
        flex-direction: column;
        width: 100%;
    }

    .recoverp__button {
        font-size: 15px;
        height: 30px;
        width: 300px;
        padding: 10px 0 5px 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .recoverp__button--medium {
        padding: 10px;
    }

    .recoverp__paragraph {
        width: 90%;
    }

}