.recoverp__container {
  max-width: 1173px;
  margin: 50px auto 1300px;
  display: flex;
  justify-content: center;
  position: relative;
}

.recoverp__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 435px;
  border-right: 1px solid #dcdbdd;
  margin-left: 169px;
  padding-right: 5px;
}

.recoverp__column:nth-child(2) {
  margin-left: 15px;
  border: none;
  width: 610px;
}

.recoverp__title {
  font-size: 30px;
  font-family: 'Metropolis';
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
  margin-top: 20px;
  width: 100%;
  text-align: left;
  margin-right: 0;
}

.recoverp__subtitle {
  font-size: 15px;
  font-family: 'Metropolis';
  color: rgb(86, 86, 86);
  line-height: 1.2;
}

.recoverp__subtitle--top {
  margin-top: 24px;
}

.recoverp__paragraph {
  font-size: 12px;
  font-family: 'Metropolis';
  color: rgb(86, 86, 86);
  line-height: 1.5;
  text-align: left;
  width: 100%;
}

.recoverp__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  width: 100%;
  padding-right: 25px;
}

.recoverp__paragraph--call {
  font-size: 13px;
  line-height: 1.385;
  margin-top: 18px;
}

.recoverp__input {
  width: calc(100% - 25px);
  height: 30px;
  border: 1px solid rgb(86, 86, 86);
  border-radius: 5px;
  margin: 20px 0 15px;
  padding-left: 10px;
  font-size: 15px;
  font-family: 'Metropolis';
  color: rgb(136, 136, 136);
}

.recoverp__form.recoverp__input:nth-child(1) {
  margin-top: 25px;
}

.recoverp__input::placeholder,
.recoverp__option {
  font-size: 15px;
  font-family: 'Metropolis';
  color: rgb(136, 136, 136);
  text-transform: uppercase;
}

.recoverp__button--container {
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 25px);
}

.recoverp__button {
  font-size: 15px;
  font-family: 'Metropolis';
  font-weight: bold;
  text-transform: uppercase;
  width: 290px;
  height: 40px;
  border: 2px solid rgb(234, 193, 45);
  border-radius: 999px;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(234, 193, 45);
  margin-bottom: 10px;
}

.recoverp__button--margin {
  margin: 22px 0;
}

.recoverp__button--back {
  color: rgb(234, 193, 45);
  background: white;
  width: 100px;
  position: absolute;
  bottom: -100px;
  left: 20px;
}

.recoverp__button:hover {
  color: rgb(234, 193, 45);
  background: white;
  cursor: pointer;
}

.recoverp__button--back:hover {
  background: rgb(234, 193, 45);
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 970px) {
  .recoverp__container {
    padding: 0 20px;
    flex-direction: column;
  }

  .recoverp__column {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
  }

  .recoverp__column:nth-child(2) {
    width: 100%;
  }
}